@model Person
<h1>Employee Detail</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Id: @Model.Id</li>
  <li class="list-group-item">First Name: @Model.FirstName</li>
  <li class="list-group-item">Last Name :  @Model.SurName</li>
  <li class="list-group-item">Address   :  @Model.Address</li>
  <li class="list-group-item">Gender    :  @Model.Gender</li>
  <li class="list-group-item">Salary    :  @Model.Salary</li>
</ul>