<h1>All Employee......</h1>
@{
  ViewData["Title"] = "Add Employee";
}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FirstName</th>
      <th scope="col">SurName</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
      @{int i = 1;}
   @foreach (var employee in Model)
   {
       <tr scope = "row">
          <td>@(i++)</td>
           <td>
            <a href="/employee/detail?id=@employee.Id">@employee.FirstName </a>
            </td>
          
           <td> @employee.SurName</td>
           <td> @employee.Address</td>
           <td> @employee.Gender</td>
           <td> @employee.Salary</td>
           <td><a class="btn btn-warning"href="/Employee/Edit?id=@employee.Id">Edit</a></td>
           <td><a class="btn btn-danger"href="/Employee/Delete?id=@employee.Id">Delete</a></td>
       </tr>
       
   }
  </tbody>
</table>